.input {
  width: 100%;
  font-style: normal;
  font-weight: normal;
  color: white;
  caret-color: white;
  box-sizing: border-box;
  border: none;
  background: #2f2f2f;
  border-radius: 8px;
}

.input__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.input.input__error {
  color: #ee3465;
  margin-bottom: 10px;
}

.input:active, .input:focus {
  outline: none;
}