.form {
  display: grid;
}

.form__submit {
  font-style: normal;
  font-weight: normal;
  border: none;
  margin: 0;
}

.form__submit.form__submit_disabled {
  opacity: .5;
  pointer-events: none;
  user-select: none;
}