.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__title {
  margin: 0 0 30px;
  padding: 0 0 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  width: 100%;
  color: #8B8B8B;
  position: relative;
}

.footer__title::after {
  content: '';
  border-bottom: 1px solid #424242;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.footer__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  justify-items: center;
  margin: 0 0 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.25;
}

.footer__links {
  margin: 0 0 30px;
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  grid-auto-flow: row;
  gap: 12px;
  justify-items: center;
}

.footer__link {
  text-align: center;
  color: white;
}

.footer__copyright {
  margin: 0;
  color: #8b8b8b;
}

@media screen and (min-width: 768px) {
  .footer__title {
    margin: 0 0 20px;
    font-size: 13px;
    line-height: 1.23;
  }
  .footer__content {
    margin: 0 0 20px;
    width: 100%;
    grid-template-columns: 1fr minmax(min-content, max-content);
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    justify-items: start;
    font-size: 13px;
    line-height: 1.2308;
  }
  .footer__links {
    margin: 0 0 0 auto;
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
  }
  .footer__link {
    text-align: right;
  }
  .footer__copyright {
    grid-column: 1;
    color: white;
  }
}